.slideshow-container {
  position: relative;
  width: 100%; /* Largura de 100% da tela */
  height: 100vh; /* Altura fixa de 600px */
  margin: auto; /* Centraliza o contêiner horizontalmente */
  overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o contêiner */
  top: -10px;
}

.mySlides {
  display: none; /* Esconde todos os slides por padrão */
}

.mySlides.active {
  display: block; /* Exibe o slide ativo */
}

img {
  width: 100%; /* Imagem ocupa toda a largura do contêiner */
  height: 100%; /* Imagem ocupa toda a altura do contêiner */
  object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortar */
}

.caption {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 106px 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media (max-width:768px){
  .slideshow-container {
    max-height: 600px;
    max-width: 100%;
  }
  .prev, .next{
    padding: 76px 40px;
    top: 30%;
  }
}
@media (max-width:568px){
  .slideshow-container{
    max-height: 300px;
  }
  .prev, .next{
    padding: 76px 20px;
    top: 25%;
  }
}