.design-container{
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
}
.superscript{
    vertical-align: super;
}
.design-container p a{
    text-decoration: none;
    color: rgb(124, 124, 124);
}
.design-container p{
    color: rgb(124, 124, 124);
}
.design-container span {
    color: orangered;
}
.fa-brands{
    font-size: 15px;
}
.fa-github{
    margin: 0 10px;
}
.fa-github:hover{
    color: black;
}
.fa-linkedin:hover{
    color: #0077B5;
}